.profile{
    color:white;
}

.interests{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.interest{
    color:white;
    margin: 2px;
    border-radius: 5px;
    font-size:1.5em;
    width:250px;
    height:50px;
}

.photos{

}

.head{
    text-align: center;
    font-size: 2.8em;
    margin-block: 2em;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 1.2em;
    font-size: 1.5em;
}

.homeImage{
    width:200px;
    height:auto;
}

.home{
    background: none;
    border: none;
    cursor:pointer;
    position:fixed;
    bottom:0px;
    right:0px;
}