table{
    margin:10px;
    color: white;
    font-size: 1.1em;
}

td{
    text-align: center;
    padding-inline: 1.5em;
    padding-block: 1em;
}

.functionButton{
    background:none;
    border: none;
    cursor: pointer;
}

.buttonImg{
    width:30px;
    height: auto;
}
